.userMenu{
    float:right;
    display: flex;
    margin-top: -5px;
}

.rightMenuIcons{
    color:#ffc107;
    font-size: 35px;
}

.haveUnreadMessage{
    color: red;
    font-size: 12px;
    top: -15px;
    position: relative;
  }